<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Since most traffic is single page + to benefit from minify classnames output CSS to HTML in <style> tag -->
    {% set css %}
    {% include "../../_dist/assets/styles/my.css" %}
    {% endset %}
    <!-- Pipe CSS through safe so Nunjucks doesn't reformat -->
    <style>
      {{css | safe}}
    </style>

    {% CFWA %}
  </head>
  <body class="subpixel-antialiased font-light tracking-wide text-lg bg-white text-gray-900 dark:bg-gray-900 dark:text-white">

  {{ foo }}
  
    <div class="flex items-center justify-end w-full text-sm pt-2 pr-2">        
      <label for="darkMode" class="flex items-center cursor-pointer">
        <!-- label -->
        <div class="mr-2">
          Dark Mode
        </div>
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <input type="checkbox" id="darkMode" class="sr-only peer">
          <!-- line -->
          <div class="block bg-gray-600 w-14 h-8 rounded-full shadow-inner"></div>
          <!-- dot -->
          <div class="dot absolute left-1 top-1 bg-white bg-sun shadow w-6 h-6 rounded-full transition peer-checked:translate-x-full peer-checked:bg-red-400 peer-checked:bg-moon"></div>
        </div>
      </label>
    </div>

    <!-- Dark mode -->
    <script>
      ((window, document, storage) => {
        // os preference
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        // function to toggle class based on local storage or browser prefs
        const manageDark = () => {
          if (storage.theme === 'dark' || (!('theme' in storage) && prefersDark)) {
            document
              .documentElement
              .classList
              .add('dark')
          } else {
            document
              .documentElement
              .classList
              .remove('dark')
          }
        }

        // toggle radio input
        const darkToggle = document.getElementById("darkMode");

        // respect storage for pre-checked
        if (storage.theme === 'dark' || (!('theme' in storage) && prefersDark)) {
          darkToggle.checked = true;
        } else {
          darkToggle.checked = false;
        }

        // listen for changes
        darkToggle.addEventListener("click", event => {
          // set correct state
          storage.theme = (darkToggle.checked) ? "dark" : "light";

          // apply new state
          manageDark();
        });

        // set on load
        manageDark();
      })(window, document, sessionStorage);
    </script>

    <div class="container mx-auto max-w-4xl p-4 sm:p-0">
      {{ content | safe }}
    </div>
    <footer class="container mx-auto max-w-4xl p-4 border-solid border-0 border-t border-gray-300 dark:border-gray-600 p-4 flex text-gray-700 dark:text-gray-300">
      <div class="flex-1 p-2">
        <h2 class="text-xl mb-4">Blogwin, by Jamie Evawin</h2>
        <img loading="lazy" data-no-responsive="data-no-responsive" class="rounded-full shadow-md" srcset="http://www.gravatar.com/avatar/e2d9a0243d695c9c7436328855a8ee8a?s=100 100w,
        https://www.gravatar.com/avatar/e2d9a0243d695c9c7436328855a8ee8a?s=150 150w" sizes="(max-width: 400px) 100px, 150px" src="http://www.gravatar.com/avatar/e2d9a0243d695c9c7436328855a8ee8a?s=100" alt="Jamie's handsome profile picture">
      </div>
      <div class="flex-1 p-2">
        <p>I'm a techy and an internet geek. I love problem solving and nerding out online and with bits of tech. Anything I think is worth sharing finds its way onto this blog.</p>
      </div>
    </footer>
  </body>
</html>