---
layout: default.njk
permalink: "/{{page.fileSlug}}/"
---
<main class="container mx-auto">
  <header class="mt-4 mb-6">
    <h1 class="text-4xl text-red-400 font-bold mb-2">{{ title }}</h1>
    <time class="block text-xl text-gray-400 dark:text-gray-300" datetime="{{ date }}">{{ date.toDateString() }}</time>
  </header>
  <article>
    {{ content | safe }}
  </article>
  <div class="max-w-xl mx-auto">
    <div id="hyvor-talk-view"></div>
  </div>
  <!-- Comments -->
  {% set comments %}
    {% include "../assets/scripts/inline/comments.js" %}
  {% endset %}
  <script>{{ comments | jsmin | safe }}</script>
</main>