---
layout: default.njk
---

<h1 class="text-4xl my-5">Jamie's Blog</h1>
<ul class="mt-2">
  {%- for post in collections.posts -%}
  <li class="my-4">
    <a href="{{ post.url }}">
      <time
        datetime="post.data.date"
        class="block text-gray-500 text-base dark:text-gray-400 no-underline decoration-transparent"
        >{{ post.data.date.toDateString() }}</time
      >
      <span class="text-xl underline underline-offset-8 decoration-2 decoration-blue-500 dark:decoration-yellow-400 inline-block transition hover:text-blue-500 dark:hover:text-yellow-400">
      {{ post.data.title }}
      </span>
    </a>
  </li>
  {%- endfor -%}
</ul>
